<%- include('../../views/partials/admin/header') %>

<div style="padding-left: 379px;">
    <h1>Error Page Admin</h1>
    <p style="padding-left: 78px;">an error occured</p>
    <div style="padding-left: 65px;">
        <a href="/admin"><button> Go to  home page</button></a></div>
</div>
   
    
    
    <%- include('../../views/partials/admin/footer') %>